{% extends '::base.html.twig' %}
{% block body %}
    {# list comments #}
    <div id="comment-list">
        {% for comment in comments %}
            {{ include('ClemengerCommentBundle:Comment:single.html.twig', { 'comment': comment }) }}
        {% endfor %}
    </div>
    {# display form #}
    {{ form(form) }}
{% endblock %}
