{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% extends '::base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="media-list" id="comment-list">
                {% for comment in comments %}
                    {{ include('ClemengerCommentBundle:Comment:single.html.twig', { 'comment': comment }) }}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            {# display form #}
            {{ form(form, {'attr': {'id': 'initial-form'}}) }}
        </div>
    </div>
{% endblock %}
